@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@mixin respond-to($breakpoint) {
	@if $breakpoint == 'lg' {
		@media screen and (max-width: 1440px) {
			@content;
		}
	} @else if $breakpoint == 'md' {
		@media screen and (max-width: 992px) {
			@content;
		}
	} @else if $breakpoint == 'sm'{
        @media screen and (max-width: 576px) {
            @content;
        }
    } @else if $breakpoint == 'xsm'{
        @media screen and (max-width: 425px) {
            @content;
        }
    }
}

$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);
$white: hsl(0, 0%, 100%);
$slate-100: hsl(202, 86%, 94%);
$slate-300: hsl(203, 41%, 72%);
$slate-500: hsl(200, 26%, 54%);
$slate-700: hsl(200, 24%, 40%);
$slate-900: hsl(202, 55%, 16%);
$body-font-size: 16px;
$font-family: 'Plus Jakarta Sans', sans-serif;
$medium: 500;
$bold: 700;

body {
	font-family: $font-family;
}

input {
	font-size: 16px;
	padding: 10px;
	font-family: $font-family;
	font-weight: $bold;
	color: $slate-900;
	border-radius: 6px;
}

input[type='radio'] {
	display: none;
}

input:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

.calc {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 200px 0 200px;
	background: $slate-100;

    @include respond-to('sm'){
        padding: 100px 0 100px;
    }
    @include respond-to('xsm'){
        padding: 0;
    }

	&_wrapper {
		display: flex;
		gap: 30px;
		max-width: 1100px;
		background: $white;
		border-radius: 30px;

		@include respond-to('md') {
			flex-direction: column;
		}
        @include respond-to('xsm'){
            border-radius: 0;
        }
	}

    &_error_state{
        display: none;
        font-size: 13px;
        color: $red;
        font-weight: $medium;
    }

	&_mortgage {
		&_amount_input {
			border: 1px solid $slate-300;
			padding-left: 70px;

			&:focus {
				border-color: $lime;
			}
		}

		&_term_input {
			border: 1px solid $slate-300;
            &:focus {
				border-color: $lime;
			}
		}

		&_rate_input {
			border: 1px solid $slate-300;
            &:focus {
				border-color: $lime;
			}
		}
	}

	&_label {
		color: $slate-500;
		font-size: 16px;
		font-weight: $medium;
		margin-bottom: 8px;
	}

	&_clear_btn {
		background: none;
		border: none;
		text-decoration: underline;
		color: $slate-700;
		font-weight: $medium;
		font-size: 16px;
	}

	&_input {
		&_sign {
			position: absolute;
			bottom: 1px;
			font-size: 16px;
			padding: 10px 22px;
			font-weight: $bold;

			&_left {
				color: $slate-900;
				background: $slate-100;
				border-radius: 6px 0 0 6px;
				left: 1px;
			}

			&_right {
				color: $slate-700;
				background: $slate-100;
				border-radius: 0px 6px 6px 0px;
				right: 1px;
			}
		}

		&_wrapper {
			display: flex;
			flex-direction: column;
			text-align: left;
			
		}

        &_inner_wrapper{
            position: relative;
        }

		&s_wrapper {
			display: flex;
			gap: 15px;
			margin: 20px 0 15px;
            @include respond-to('sm'){
                flex-direction: column;
            }
		}

		&_radio_wrapper {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 15px;
			border: 1px solid $slate-500;
			border-radius: 6px;
			cursor: pointer;
			position: relative;
			transition: border-color 0.3s ease;
			margin-bottom: 10px;
			font-weight: $bold;
			font-size: 16px;
			color: $slate-900;

			&:hover {
				border-color: $lime;
			}
			&:after {
				border-color: $lime;
			}

			input[type=radio]:checked + .calc_custom_radio {
				border-color: $lime;
			}

			input[type=radio]:checked + .calc_custom_radio::after {
				display: block;
				background: $lime;
			}
		}
	}

	&_custom_radio {
		width: 20px;
		height: 20px;
		border: 2px solid $slate-300;
		border-radius: 50%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&::after {
			content: '';
			width: 10px;
			height: 10px;
			background-color: $slate-700;
			border-radius: 50%;
			display: none;
		}
	}

	&_main {
		display: flex;
		flex-direction: column;
		padding: 35px 0 30px 30px;

		@include respond-to('md') {
			padding: 35px 30px 30px 30px;
		}
	}

	&_title {
		font-size: 20px;
		color: $slate-900;
		font-weight: $bold;

		&_wrapper {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			@include respond-to('md') {
				flex-direction: column;
				align-items: start;
                gap: 10px;
			}
		}
	}

	&_result {
		background: $slate-900;
		border-radius: 0px 30px 30px 65px;
		padding: 100px 20px 80px 20px;
        @include respond-to('md'){
            border-radius: 0px 0px 30px 30px;
        }
        @include respond-to('xsm'){
            border-radius: 0;
        }

		&_output {
			&_main {
				font-size: 42px;
				color: $lime;
			}

			&_secondary {
				font-size: 20px;
				color: $white;
			}
		}

		&_unready {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: $white;
			text-align: center;
			gap: 15px;
		}
		&_ready {
			display: none;
			flex-direction: column;
			gap: 15px;
		}

		&_title {
			color: $white;
		}

		&_desc {
			max-width: 420px;
			font-size: 16px;
			color: $slate-300;
			font-weight: $medium;
		}

		&s_wrapper {
			background: $lime;
			border-radius: 12px;
			padding-top: 5px;
			margin-top: 20px;
			label {
				margin-bottom: 4px;
			}
		}

		&s_inner_wrapper {
			display: flex;
			flex-direction: column;
			background: hsl(202, 55%, 13%);
			border-radius: 12px;
			padding: 30px 25px 30px 25px;
		}

		&s_btn {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			border-radius: 50px;
			background: $lime; // <-- BUTTON
			color: $slate-900;
			font-size: 16px;
			font-weight: $bold;
			padding: 13.5px 20px 12px 20px;
			max-width: 300px;
			border: none;
			margin-top: 20px;
			&:hover {
				background: hsl(61, 65%, 45%);
			}
		}
	}

	&_borderline {
		background: $slate-700;
		max-width: 100%;
		max-height: 0.5px;
		border: 0.5px solid #00000057;
		margin: 25px 0 25px;
	}
}
